<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>Team Name: <%=params[:teamname]%></h1>
   <h2>Coach: <%= params[:coach]%></h2>
  <h2>Pont Guard: <%= %></h2>
  <h2>Shooting Guard: <%= %></h2>
  <h2>Small Forward: <%= %></h2>
  <h2>Poer Forward: <%= %></h2>
  <h2>Center: <%= %></h2>

 </body>
</html>
